<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bejostorelogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bejostorelogin"
        tools:replace="android:allowBackup">


        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainmenu"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoActivity"
            android:exported="true"/>
        <activity
            android:name=".StockActivity"
            android:exported="false"/>
        <activity
            android:name=".PrediksiActivity"
            android:exported="false"/>
        <activity
            android:name=".PrediksiMain"
            android:exported="false"/>
        <activity
            android:name=".PendapatanActivity"
            android:exported="false"/>
        <activity
            android:name=".ProdukListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Akun">
        </activity>
        <activity
            android:name=".ProdukOrder">
        </activity>
        <activity android:name=".ProdukDetail">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>